body {
  box-sizing: border-box;
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Courgette', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px;
  max-width: 90%;
  height: 550px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(177, 177, 177, 0.4);
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.error-email,
.error-country,
.error-password,
.error-zip {
  width: 100%;
  padding: 0;
  font-size: 1rem;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.form-group > input {
  height: 100%;
  border: solid 1px rgb(199, 199, 199);
  font-size: 1.5rem;
}

input:invalid {
  border: 2px solid red;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-family: 'Courgette', cursive;
  color: white;
  background: dodgerblue;
  outline: none;
  padding: 0.1rem 1rem;
  box-shadow: 0 0.3rem rgba(212, 212, 212, 0.65);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
